<!-- HEADER -->

{{!--
<div class="subnav-hero-section">

  <h1 class="subnav-hero-headline">
    <a href="./index">{{orgName}}</a>
  </h1>

  <ul class="subnav-hero-subnav">
    <li>
      <a href="./index">Upcoming Events</a>
    </li>
    <li>
      <a href="./blog">Search Event Blog</a>
    </li>
    <li>
      <a href="./favorites">My Favorites</a>
    </li>
    <li>
      <a href="./bizdirect">Business Directory</a>
    </li>
  </ul>
  <a href="./index" id="logout">Log Out</a>
</div> --}}

<!-- HEADER ENDS -->
<!-- BEGIN BODY -->

<div class="bizdirect-body">

  <div class="org-info">

    <div class="container">

      <!-- NAME OF ORGANIZATION -->

      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Buffet Club</h1>
        </div>
      </div>

      <!-- ORG SUMMARY MODULE -->

      <div class="row">

        {{!-- ORG PHOTO --}}
        <div class="col-md-5 biz-photo">
          <img class="org1" src="css/images/comp.jpg">
        </div>

        {{!-- ORG CATEGORIES AND BIO --}}
        <div class="col-md-7">
          <h5>
            {{!-- {{#each orgCategory}} --}} Food &amp; Drink {{!-- {{/each}} --}}
          </h5>
          <p>We're taking food seriously here.</p>
        </div>

      </div>

    </div>

    <br/>

    <!-- RECENT AND UPCOMING EVENTS -->

    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Recent and Upcoming Events</h3>
      </div>
    </div>

    <!-- EVENTS -->

    <div class="row">

      <div class="col-md-1"></div>

      <div class="col-md-10">
        <div class="card-group">

          {{!-- {{#each eventStuff}} --}} {{!-- {{#each eventStuff.pastEvents}}

          <div class="card">
            <img class="card-img-top" src="#">
            <div class="card-body">
              <h5 class="card-title">{{this.eventName}}</h5>
              <p class="card-text">{{this.eventDesc}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{this.eventMetrics}}</small>
            </div>
          </div>

          {{/each}} {{#each eventStuff.upcomingEvents}}
          <div class="card">
            <img class="card-img-top" src="#">
            <div class="card-body">
              <h5 class="card-title">{{this.eventName}}</h5>
              <p class="card-text">{{this.eventDesc}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{this.eventMetrics}}</small>
            </div>
          </div>
          {{/each}} --}} {{!-- {{/each}} --}}

          <div class="card">
            <img class="card-img-top" src="css/images/flipboardbeach.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Srs Business Cereal</h5>
              <p class="card-text">Dine at the finest cereal bar there is, complete with... milk! And Star Wars!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">12 attended
                <br/>on May 4, 2018</small>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="css/images/flipboardsf.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Old-fashioned candy tasting</h5>
              <p class="card-text">Join us as we eat our way through candies ranging from the 1920s to now!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">14 plan to attend.
                <br/>RSVP before May 14, 2018!</small>
            </div>
          </div>

          <div class="col-md-1"></div>

        </div>

        <!-- END CARD GROUP -->

        <!-- BEGIN BLOG SECTION -->

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h3 class="text-center">Journal Entries from Buffet Club</h3>
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">

            <div class="blog-entry">
              <h4>Sunday, April 22, 2018</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas tempora illum aspernatur eius distinctio,
                cupiditate fuga eaque laborum neque quaerat fugiat autem veniam rerum officia enim ipsam ipsum molestias
                at maiores. Magnam quia veritatis consequuntur eveniet, autem, accusamus quas architecto atque assumenda
                ipsam ullam cupiditate aut dolores officia ipsum eius sed aperiam voluptas! Illum, similique, blanditiis.
                Porro, accusantium optio molestiae earum alias, vero dolor.</p>
            </div>

            <div class="blog-entry">
              <h4>Friday, May 4, 2018</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas tempora illum aspernatur eius distinctio,
                cupiditate fuga eaque laborum neque quaerat fugiat autem veniam rerum officia enim ipsam ipsum molestias
                at maiores. Magnam quia veritatis consequuntur eveniet, autem, accusamus quas architecto atque assumenda
                ipsam ullam cupiditate aut dolores officia ipsum eius sed aperiam voluptas! Illum, similique, blanditiis.
                Porro, accusantium optio molestiae earum alias, vero dolor.</p>
            </div>

            <div class="blog-entry">
              <h4>May 9, 2018</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas tempora illum aspernatur eius distinctio,
                cupiditate fuga eaque laborum neque quaerat fugiat autem veniam rerum officia enim ipsam ipsum molestias
                at maiores. Magnam quia veritatis consequuntur eveniet, autem, accusamus quas architecto atque assumenda
                ipsam ullam cupiditate aut dolores officia ipsum eius sed aperiam voluptas! Illum, similique, blanditiis.
                Porro, accusantium optio molestiae earum alias, vero dolor.</p>
            </div>

          </div>
          <div class="col-md-1"></div>
        </div>

        <!-- END BLOG SECTION -->

        <!-- BEGIN CLOSING DIVS -->

      </div>
    </div>
  </div>
</div>

<footer></footer>

<script src="./js/bizdirect.js"></script>