<!-- HEADER -->

{{!--
<div class="subnav-hero-section">

  <h1 class="subnav-hero-headline">
    <a href="./index">{{orgName}}</a>
  </h1>

  <ul class="subnav-hero-subnav">
    <li>
      <a href="./index">Upcoming Events</a>
    </li>
    <li>
      <a href="./blog">Search Event Blog</a>
    </li>
    <li>
      <a href="./favorites">My Favorites</a>
    </li>
    <li>
      <a href="./bizdirect">Business Directory</a>
    </li>
  </ul>
  <a href="./index" id="logout">Log Out</a>
</div> --}}

<!-- HEADER ENDS -->
<!-- BEGIN BODY -->

<div class="bizdirect-body">

  <div class="org-info">

    <div class="container">

      <!-- NAME OF ORGANIZATION -->

      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">EXTREME Gaming Night</h1>
        </div>
      </div>

      <!-- ORG SUMMARY MODULE -->

      <div class="row">

        {{!-- ORG PHOTO --}}
        <div class="col-md-5 biz-photo">
          <img class="org1" src="css/images/comp.jpg">
        </div>

        {{!-- ORG CATEGORIES AND BIO --}}
        <div class="col-md-7">
          <h5>
            {{!-- {{#each orgCategory}} --}} Arts &amp; Entertainment {{!-- {{/each}} --}}
          </h5>
          <p>We live our normal lives until that special night of the week - then we go all out.</p>
        </div>

      </div>

    </div>

    <br/>

    <!-- RECENT AND UPCOMING EVENTS -->

    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Recent and Upcoming Events</h3>
      </div>
    </div>

    <!-- EVENTS -->

    <div class="row">

      <div class="col-md-1"></div>

      <div class="col-md-10">
        <div class="card-group">

          {{!-- {{#each eventStuff}} --}} {{!-- {{#each eventStuff.pastEvents}}

          <div class="card">
            <img class="card-img-top" src="#">
            <div class="card-body">
              <h5 class="card-title">{{this.eventName}}</h5>
              <p class="card-text">{{this.eventDesc}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{this.eventMetrics}}</small>
            </div>
          </div>

          {{/each}} {{#each eventStuff.upcomingEvents}}
          <div class="card">
            <img class="card-img-top" src="#">
            <div class="card-body">
              <h5 class="card-title">{{this.eventName}}</h5>
              <p class="card-text">{{this.eventDesc}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{this.eventMetrics}}</small>
            </div>
          </div>
          {{/each}} --}} {{!-- {{/each}} --}}

          <div class="card">
            <img class="card-img-top" src="css/images/flipboardmac.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Premiere Night</h5>
              <p class="card-text">Join us for fights, adventure, and MORE as we play our hearts out. There will be board games and card decks
                available, too, and catering. That means FREE FOOD! Meet your friendly neighborhood gamers today!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">12 attended
                <br/>on May 4, 2018</small>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="css/images/flipboardsf.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Game Jam with Gaming at Odd Hours</h5>
              <p class="card-text">We'll be throwing together games like never before in a weekend!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">14 plan to attend.
                <br/>RSVP before May 14, 2018!</small>
            </div>
          </div>

          <div class="col-md-1"></div>

        </div>

        <!-- END CARD GROUP -->

        <!-- BEGIN BLOG SECTION -->

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h3 class="text-center">Journal Entries from EXTREME Gaming Night</h3>
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">

            <div class="blog-entry">
              <h4>Sunday, April 22, 2018</h4>
              <p>THAT. WAS. AWESOME!!!</p>
            </div>

            <div class="blog-entry">
              <h4>Friday, May 4, 2018</h4>
              <p>GAME TIME!!!</p>
            </div>

            <div class="blog-entry">
              <h4>May 9, 2018</h4>
              <p>It was AMAZING seeing all of you working and playing together. That's definitely what we value here - cooperation,
                respect, and having fun while working!</p>
            </div>

          </div>
          <div class="col-md-1"></div>
        </div>

        <!-- END BLOG SECTION -->

        <!-- BEGIN CLOSING DIVS -->

      </div>
    </div>
  </div>
</div>

<footer></footer>

<script src="./js/bizdirect.js"></script>