<!-- HEADER -->

{{!--
<div class="subnav-hero-section">

  <h1 class="subnav-hero-headline">
    <a href="./index">{{orgName}}</a>
  </h1>

  <ul class="subnav-hero-subnav">
    <li>
      <a href="./index">Upcoming Events</a>
    </li>
    <li>
      <a href="./blog">Search Event Blog</a>
    </li>
    <li>
      <a href="./favorites">My Favorites</a>
    </li>
    <li>
      <a href="./bizdirect">Business Directory</a>
    </li>
  </ul>
  <a href="./index" id="logout">Log Out</a>
</div> --}}

<!-- HEADER ENDS -->
<!-- BEGIN BODY -->

<div class="bizdirect-body">

  <div class="org-info">

    <div class="container">

      <!-- NAME OF ORGANIZATION -->

      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Gaming at Odd Hours</h1>
        </div>
      </div>

      <!-- ORG SUMMARY MODULE -->

      <div class="row">

        {{!-- ORG PHOTO --}}
        <div class="col-md-5 biz-photo">
          <img class="org1" src="css/images/comp.jpg">
        </div>

        {{!-- ORG CATEGORIES AND BIO --}}
        <div class="col-md-7">
          <h5>
            {{!-- {{#each orgCategory}} --}} Arts &amp; Entertainment {{!-- {{/each}} --}}
          </h5>
          <p>Yeah, I haven't slept in a while since playing DDLC...</p>
        </div>

      </div>

    </div>

    <br/>

    <!-- RECENT AND UPCOMING EVENTS -->

    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Recent and Upcoming Events</h3>
      </div>
    </div>

    <!-- EVENTS -->

    <div class="row">

      <div class="col-md-1"></div>

      <div class="col-md-10">
        <div class="card-group">

          {{!-- {{#each eventStuff}} --}} {{!-- {{#each eventStuff.pastEvents}}

          <div class="card">
            <img class="card-img-top" src="#">
            <div class="card-body">
              <h5 class="card-title">{{this.eventName}}</h5>
              <p class="card-text">{{this.eventDesc}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{this.eventMetrics}}</small>
            </div>
          </div>

          {{/each}} {{#each eventStuff.upcomingEvents}}
          <div class="card">
            <img class="card-img-top" src="#">
            <div class="card-body">
              <h5 class="card-title">{{this.eventName}}</h5>
              <p class="card-text">{{this.eventDesc}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{this.eventMetrics}}</small>
            </div>
          </div>
          {{/each}} --}} {{!-- {{/each}} --}}

          <div class="card">
            <img class="card-img-top" src="css/images/branch.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Let's Read! A journey into visual novels</h5>
              <p class="card-text">We'll be doing a route from Hatoful Boyfriend, based on popular vote. We'll be voicing the characters and laughing
                at their avian antics.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">12 attended
                <br/>on May 4, 2018</small>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="css/images/flipboardbeach.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">All-hours gaming station</h5>
              <p class="card-text">We reserved a room (or two) at the local hackathon place. Join us for gaming or you'll regret it dearly.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">222 plan to attend.
                <br/>RSVP before May 14, 2018!</small>
            </div>
          </div>

          <div class="col-md-1"></div>

        </div>

        <!-- END CARD GROUP -->

        <!-- BEGIN BLOG SECTION -->

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h3 class="text-center">Journal Entries from Gaming at Odd Hours</h3>
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">

            <div class="blog-entry">
              <h4>Sunday, April 22, 2018</h4>
              <p>Thanks for coming out and gaming with us. We still can't believe the things we saw in Undertale. Yikes.</p>
            </div>

            <div class="blog-entry">
              <h4>Friday, May 4, 2018</h4>
              <p>Star Wars-themed game jam? May the fourth be with you.</p>
            </div>

            <div class="blog-entry">
              <h4>May 9, 2018</h4>
              <p>Thanks for all your support. If you're interested in doing some EXTREME gaming, check out our partner org,
                EXTREME Gaming Night for one-night events including stuff like Super Smash Bros and other combat and MMORPG
                games.
              </p>
            </div>

          </div>
          <div class="col-md-1"></div>
        </div>

        <!-- END BLOG SECTION -->

        <!-- BEGIN CLOSING DIVS -->

      </div>
    </div>
  </div>
</div>

<footer></footer>

<script src="./js/bizdirect.js"></script>